img {
    width: 50%;
    height: auto;
}

h1 {
    text-align: center;
}

.main-li {
    text-align: center;
    text-decoration: none;
    color: #686868;
    list-style: none;
    transition: .2s;
}

.main-li:hover {
    text-decoration: underline;
    color: #000;
}